#Fondo {
    z-index: -999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
#canvas-element-id {
    color: purple;
    background-color: #A9A9A9;
    width:100%;
    height:100%;
}
#canvasContainer {
    position: absolute;
    left:     50%;
    top:      50%;
}
#Seleccion {
    position: absolute;
    left:     5%;
    top:      94%;
}
.SelectStyle {
    width: 120px;
    position: relative;
}
select {
    width: 100%;
    background: #F3F3F3;
    color: #585757;
    padding: 5px;
    font-size: 13px;
    line-height: 100%;
    border: 1px solid #C1C1C1;
    border-radius: 0;
    height: 30px;
    -webkit-appearance: none;
}
option {
    padding: 10px;
}
.SelectStyle:after {
    width: 30px;
    height: 30px;
    display: block;
    content: '';
    position: absolute;
    top: 0;right: 0;
    pointer-events: none;
    border: 1px solid #C1C1C1;
    background:#ebebeb;
    background-image: url('../img/bullet--arrow--down.gif');
    background-image: url('../img/bullet--arrow--down.gif'), -moz-linear-gradient(top,#dfdfdf 0%,#f6f6f6 100%);
    background-image: url('../img/bullet--arrow--down.gif'), -webkit-gradient(linear,left top,left bottom,color-stop(0%,#dfdfdf),color-stop(100%,#f6f6f6));
    background-image: url('../img/bullet--arrow--down.gif'), -webkit-linear-gradient(top,#dfdfdf 0%,#f6f6f6 100%);
    background-image: url('../img/bullet--arrow--down.gif'), -o-linear-gradient(top,#dfdfdf 0%,#f6f6f6 100%);
    background-image: url('../img/bullet--arrow--down.gif'), -ms-linear-gradient(top,#dfdfdf 0%,#f6f6f6 100%);
    background-image: url('../img/bullet--arrow--down.gif'), linear-gradient(top,#dfdfdf 0%,#f6f6f6 100%);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
